#container2 {
    position: relative;
	margin: 10px auto 50px auto;
	width: 1000px;
	padding: 0;
	text-align: center;
	
}
.largeimage {
	/*position: relative;*/
	z-index: 1000;
}
img.info-icon {
	cursor: pointer;
	z-index: 1001;
}

#container2 .info-icon1 {
	position: absolute;
	top: 320px;
	left: 300px;
}
#container2 .info-icon2 {
	position: absolute;
	top: 259px;
	left: 518px;
}
#container2 .info-icon3 {
	position: absolute;
	top: 363px;
	left: 370px;
}
#container2 .info-icon4 {
	position: absolute;
	top: 140px;
	left: 530px;
}
#container2 .info-icon5 {
	position: absolute;
	top: 298px;
	left: 250px;
}
#container2 .info-icon6 {
	position: absolute;
	top: 340px;
	left: 220px;
}
#container2 .info-icon7 {
	position: absolute;
	top: 360px;
	left: 170px;
}
#container2 .info-icon8 {
	position: absolute;
	top: 350px;
	left: 310px;
}
#container2 .info-icon9 {
	position: absolute;
	top: 400px;
	left: 250px;
}
#container2 .info-icon10 {
	position: absolute;
	top: 440px;
	left: 260px;
}
#container2 .info-icon11{
	position: absolute;
	top: 300px;
	left: 356px;
}
#container2 .info-icon12{
	position: absolute;
	top: 489px;
	left: 175px;
}
#container2 .info-icon13{
	position: absolute;
	top: 510px;
	left:220px;
}
.popover {
	position: absolute;
	z-index: 1010;
	opacity: 0;
	display: none;
	width: 236px;
	/*height: 200px;*/
  padding: 1px;
	text-align: left;
	white-space: normal;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
#pop5 {
	position: absolute;
	top: 198px;
	left: 198px;
}
#pop6 {
	position: absolute;
	top: 184px;
	left: 540px;
}
#pop7 {
	position: absolute;
	top: 306px;
	left: 127px;
}
#pop8 {
	position: absolute;
	top: 166px;
	left: 422px;
}
#pop9 {
	position: absolute;
	top: 320px;
	left: 140px;
}
#pop10 {
	position: absolute;
	top: 260px;
	left: -26px;
}
#pop11 {
	position: absolute;
	top: 382px;
	left: 54px;
}
#pop12 {
	position: absolute;
	top: 286px;
	left: 340px;
}
#pop13 {
	position: absolute;
	top: 426px;
	left: 150px;
}
#pop14 {
	position: absolute;
	top: 466px;
	left: 150px;
}
#pop15 {
	position: absolute;
	top: 220px;
	left: 380px;
}
#pop16 {
	position: absolute;
	top: 425px;
	left: -65px;
}
#pop17 {
	position: absolute;
	top: 438px;
	left: 242px;
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	padding: 8px 14px;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.popover-content {
	padding: 9px 14px;
}
.popover .arrow, .popover .arrow:after {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}
.popover .arrow {
	border-width: 11px;
}
.popover .arrow:after {
	border-width: 10px;
	content: "";
}
.popover.top .arrow {
	bottom: -11px;
	left: 50%;
	margin-left: -11px;
	border-top-color: #999;
	border-top-color: rgba(0, 0, 0, 0.25);
	border-bottom-width: 0;
}
.popover.top .arrow:after {
	bottom: 1px;
	margin-left: -10px;
	border-top-color: #ffffff;
	border-bottom-width: 0;
}
.popover.right .arrow {
	top: 50%;
	left: -11px;
	margin-top: -11px;
	border-right-color: #999;
	border-right-color: rgba(0, 0, 0, 0.25);
	border-left-width: 0;
}
.popover.right .arrow:after {
	bottom: -10px;
	left: 1px;
	border-right-color: #ffffff;
	border-left-width: 0;
}
.popover.bottom .arrow {
	top: -11px;
	left: 50%;
	margin-left: -11px;
	border-bottom-color: #999;
	border-bottom-color: rgba(0, 0, 0, 0.25);
	border-top-width: 0;
}
.popover.bottom .arrow:after {
	top: 1px;
	margin-left: -10px;
	border-bottom-color: #ffffff;
	border-top-width: 0;
}
.popover.left .arrow {
	top: 50%;
	right: -11px;
	margin-top: -11px;
	border-left-color: #999;
	border-left-color: rgba(0, 0, 0, 0.25);
	border-right-width: 0;
}
.popover.left .arrow:after {
	right: 1px;
	bottom: -10px;
	border-left-color: #ffffff;
	border-right-width: 0;
}
.animated {
	-webkit-animation-duration: 0.6s;
	-moz-animation-duration: 0.6s;
	-o-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
 @-webkit-keyframes cardInTop {
 0% {
 -webkit-transform-origin: 50% 100% 0px;
 -webkit-transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
}
 100% {
 -webkit-transform-origin: 50% 100% 0px;
 -webkit-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-moz-keyframes cardInTop {
 0% {
 -moz-transform-origin: 50% 100% 0px;
 -moz-transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
}
 100% {popover-inner
 -moz-transform-origin: 50% 100% 0px;
 -moz-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-o-keyframes cardInTop {
 0% {
 -o-transform-origin: 50% 100% 0px;
 -o-transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
}
 100% {
 -o-transform-origin: 50% 100% 0px;
 -o-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
 @keyframes cardInTop {
 0% {
 transform-origin: 50% 100% 0px;
 transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
}
 100% {
 transform-origin: 50% 100% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
.cardInTop {
	-webkit-animation-name: cardInTop;
	-moz-animation-name: cardInTop;
	-o-animation-name: cardInTop;
	animation-name: cardInTop;
}
 @-webkit-keyframes cardInBottom {
 0% {
 -webkit-transform-origin: 50% 0% 0px;
 -webkit-transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
}
 100% {
 -webkit-transform-origin: 50% 0% 0px;
 -webkit-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-moz-keyframes cardInBottom {
 0% {
 -moz-transform-origin: 50% 0% 0px;
 -moz-transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
}
 100% {
 -moz-transform-origin: 50% 0% 0px;
 -moz-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-o-keyframes cardInBottom {
 0% {
 -o-transform-origin: 50% 0% 0px;
 -o-transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
}
 100% {
 -o-transform-origin: 50% 0% 0px;
 -o-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
 @keyframes cardInBottom {
 0% {
 transform-origin: 50% 0% 0px;
 transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
}
 100% {
 transform-origin: 50% 0% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
.cardInBottom {
	-webkit-animation-name: cardInBottom;
	-moz-animation-name: cardInBottom;
	-o-animation-name: cardInBottom;
	animation-name: cardInBottom;
}
 @-webkit-keyframes cardInLeft {
 0% {
 -webkit-transform-origin: 100% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(-90deg) scale(0, 0);
}
 100% {
 -webkit-transform-origin: 100% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-moz-keyframes cardInLeft {
 0% {
 -moz-transform-origin: 100% 50% 0px;
 -moz-transform: perspective(500px) rotateY(-90deg) scale(0, 0);
}
 100% {
 -moz-transform-origin: 100% 50% 0px;
 -moz-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-o-keyframes cardInLeft {
 0% {
 -o-transform-origin: 100% 50% 0px;
 -o-transform: perspective(500px) rotateY(-90deg) scale(0, 0);
}
 100% {
 -o-transform-origin: 100% 50% 0px;
 -o-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
}
 @keyframes cardInLeft {
 0% {
 transform-origin: 100% 50% 0px;
 transform: perspective(500px) rotateX(-90deg) scale(0, 0);
}
 100% {
 transform-origin: 100% 50% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
.cardInLeft {
	-webkit-animation-name: cardInLeft;
	-moz-animation-name: cardInLeft;
	-o-animation-name: cardInLeft;
	animation-name: cardInLeft;
}
 @-webkit-keyframes cardInRight {
 0% {
 -webkit-transform-origin: 0% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(90deg) scale(0, 0);
}
 100% {
 -webkit-transform-origin: 0% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-moz-keyframes cardInRight {
 0% {
 -moz-transform-origin: 0% 50% 0px;
 -moz-transform: perspective(500px) rotateY(90deg) scale(0, 0);
}
 100% {
 -moz-transform-origin: 0% 50% 0px;
 -moz-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
}
 @-o-keyframes cardInRight {
 0% {
 -o-transform-origin: 0% 50% 0px;
 -o-transform: perspective(500px) rotateY(90deg) scale(0, 0);
}
 100% {
 -o-transform-origin: 0% 50% 0px;
 -o-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
}
 @keyframes cardInRight {
 0% {
 transform-origin: 0% 50% 0px;
 transform: perspective(500px) rotateX(90deg) scale(0, 0);
}
 100% {
 transform-origin: 0% 50% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
}
.cardInRight {
	-webkit-animation-name: cardInRight;
	-moz-animation-name: cardInRight;
	-o-animation-name: cardInRight;
	animation-name: cardInRight;
}
 @-webkit-keyframes cardOutTop {
 0% {
 -webkit-transform-origin: 50% 100% 0px;
 -webkit-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: 50% 100% 0px;
 -webkit-transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
 @-moz-keyframes cardOutTop {
 0% {
 -moz-transform-origin: 50% 100% 0px;
 -moz-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -moz-transform-origin: 50% 100% 0px;
 -moz-transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
 @-o-keyframes cardOutTop {
 0% {
 -o-transform-origin: 50% 100% 0px;
 -o-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -o-transform-origin: 50% 100% 0px;
 -o-transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
 @keyframes cardOutTop {
 0% {
 transform-origin: 50% 100% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 transform-origin: 50% 100% 0px;
 transform: perspective(500px) rotateX(-90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
.cardOutTop {
	-webkit-animation-name: cardOutTop;
	-moz-animation-name: cardOutTop;
	-o-animation-name: cardOutTop;
	animation-name: cardOutTop;
}
 @-webkit-keyframes cardOutBottom {
 0% {
 -webkit-transform-origin: 50% 0% 0px;
 -webkit-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: 50% 0% 0px;
 -webkit-transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
 @-moz-keyframes cardOutBottom {
 0% {
 -moz-transform-origin: 50% 0% 0px;
 -moz-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -moz-transform-origin: 50% 0% 0px;
 -moz-transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
 @-o-keyframes cardOutBottom {
 0% {
 -o-transform-origin: 50% 0% 0px;
 -o-transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -o-transform-origin: 50% 0% 0px;
 -o-transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
 @keyframes cardOutBottom {
 0% {
 transform-origin: 50% 0% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 transform-origin: 50% 0% 0px;
 transform: perspective(500px) rotateX(90deg) scale(0.5, 0.5);
 opacity: 0;
}
}
.cardOutBottom {
	-webkit-animation-name: cardOutBottom;
	-moz-animation-name: cardOutBottom;
	-o-animation-name: cardOutBottom;
	animation-name: cardOutBottom;
}
 @-webkit-keyframes cardOutLeft {
 0% {
 -webkit-transform-origin: 100% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: 100% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(90deg) scale(0, 0);
 opacity: 0;
}
}
 @-moz-keyframes cardOutLeft {
 0% {
 -moz-transform-origin: 100% 50% 0px;
 -moz-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -moz-transform-origin: 100% 50% 0px;
 -moz-transform: perspective(500px) rotateY(90deg) scale(0, 0);
 opacity: 0;
}
}
 @-o-keyframes cardOutLeft {
 0% {
 -o-transform-origin: 100% 50% 0px;
 -o-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -o-transform-origin: 100% 50% 0px;
 -o-transform: perspective(500px) rotateY(90deg) scale(0, 0);
 opacity: 0;
}
}
 @keyframes cardOutLeft {
 0% {
 transform-origin: 100% 50% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 transform-origin: 100% 50% 0px;
 transform: perspective(500px) rotateX(90deg) scale(0, 0);
 opacity: 0;
}
}
.cardOutLeft {
	-webkit-animation-name: cardOutLeft;
	-moz-animation-name: cardOutLeft;
	-o-animation-name: cardOutLeft;
	animation-name: cardOutLeft;
}
 @-webkit-keyframes cardOutRight {
 0% {
 -webkit-transform-origin: 0% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -webkit-transform-origin: 0% 50% 0px;
 -webkit-transform: perspective(500px) rotateY(-90deg) scale(0, 0);
 opacity: 0;
}
}
 @-moz-keyframes cardOutRight {
 0% {
 -moz-transform-origin: 0% 50% 0px;
 -moz-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -moz-transform-origin: 0% 50% 0px;
 -moz-transform: perspective(500px) rotateY(-90deg) scale(0, 0);
 opacity: 0;
}
}
 @-o-keyframes cardOutRight {
 0% {
 -o-transform-origin: 0% 50% 0px;
 -o-transform: perspective(500px) rotateY(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 -o-transform-origin: 0% 50% 0px;
 -o-transform: perspective(500px) rotateY(-90deg) scale(0, 0);
 opacity: 0;
}
}
 @keyframes cardOutRight {
 0% {
 transform-origin: 0% 50% 0px;
 transform: perspective(500px) rotateX(0deg) scale(1, 1);
 opacity: 1;
}
 100% {
 transform-origin: 0% 50% 0px;
 transform: perspective(500px) rotateX(-90deg) scale(0, 0);
 opacity: 0;
}
}
.cardOutRight {
	-webkit-animation-name: cardOutRight;
	-moz-animation-name: cardOutRight;
	-o-animation-name: cardOutRight;
	animation-name: cardOutRight;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com 