
@CHARSET "UTF-8";

        .kuang #con1 ul{
        margin:0px;
        padding:0px;
        }
        .kuang #con1 li{    	
        width:329px;
        height:30px;
        line-height:30px;
        color:black;
        text-align:left;
        }
        .kuang #con1 li.hover{
        color:red;
        }
          .kuang #con2 ul{
        margin:0px;
        padding:0px;
        }
        .kuang #con2 li{
      
        width:329px;
        height:30px;
        line-height:30px;
        color:black;
    
        text-align:left;
        }
        #kuang #con2 li.hover{
        color:red;
        }
        #tabContainer
        {
            float:left;width:330px;height:250px;border-bottom:1px solid #0410fa;border-right:1px solid #0410fa;box-shadow:1px 1px 1px #b0d9ee;margin-left:10px;
        }
        #tabContainer li
        {
            float: left;
            margin-right:2px;
            width: 100px;
            decoration:none;
            
            text-align: center;
        }
        #tabContainer a
        {
            display: block;
        }
        #tabContainer a.on
        {
            background:url(../images/0.png);
        }
    <!-- #kuang
        {
        	position:relative;
        	width:350;
        	height:260;
        	background:pink;
     }-->
        #chuangke{
        position:relative;
        	margin-top:-50px;
        	width:300px;
        	height:250px;
        	border:1px solid red;
        }
      

        
        
        