@media screen and (max-width: 1365px) {}
.main-body-wrapper{padding:20px 50px;min-height:600px;background:#f4f5f5;overflow:hidden;}
.main-body-middle{width:60%;margin:0 2%;float:left;min-height:100px;}
.main-body-middle .middle-detail{background: #fff;margin-bottom:20px;box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);}
.main-body-middle .middle-detail p.title{padding:10px;border-bottom:1px solid #eee;}
.main-body-middle .middle-detail p span{float:right;color:#007fff;}
.main-body-middle .middle-detail .middle-detail-img{display:inline-block;vertical-align: bottom;width:60px;height:60px;}
.main-body-middle .middle-detail .middle-detail-content{display:inline-block;margin-left:20px;width:calc(100% - 90px);}
.main-body-middle .middle-detail .middle-detail-content .summary{color:#aaa;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width:100%;}
.main-body-middle .middle-detail .middle-detail-content .time{color:#aaa;margin-left:20px;}
.main-body-middle .middle-detail .middle-detail-content p.middle-detail-content-title{font-weight:bold;font-size:18px;color:#333;margin:0;}
.main-body-middle .middle-detail img{max-width:60px;max-height:60px;}
.main-body-middle .middle-detail li{padding:10px;}
.main-body-left ul{margin-top:10px;}
.main-body-left{width:10%;position:fixed;z-index:2;background-color: #fff;}
.main-body-left li{height:30px;line-height:30px;text-align:center;color:#007fff;cursor:pointer;}
.main-body-left li a.active{background:rgba(3, 113, 223, 0.7);}
.main-body-left li a{color:#007fff;display:block;}
.main-body-left li a.active{color:#fff;}
.main-body-left-zw{float:left;width:10%;min-height:100px;}
.main-body-right{width:26%;float:left;min-height:100px;}
.fixedMenu{
position:fixed;
bottom:50px;
right:50px;
text-align:center;
font-size:18px;
}
.fixedMenu .backToTop, .fixedMenu .writeNews{
width:40px;
height:40px;
line-height:40px;
background:#27A9E3;
display:block;
text-align:center;
color:#fff;
margin:4px 0;
}
.fixedMenu .writeNews{
background:rgba(248,89,89,.8);
}

